@page
@model AlarmsModel
@{
    ViewData["Title"] = "Alarms";
}
<h1>@ViewData["Title"]</h1>

<meta http-equiv="refresh" content="10" />

<div>
    There are 3 different types of alarms:
    <br />
    <!--<p class="text-right">Logged in as @Model.person.Name</p>-->
    <span class="badge badge-pill badge-danger"> Alarm </span>
    <span class="badge badge-pill badge-warning"> Warning </span>
    <span class="badge badge-pill badge-info"> Notification </span>
</div>
<br />

<!--Table showing all alarms-->
<div class="text-left">
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-nowrap">Alarm ID</th>
            <th class="text-nowrap">Alarm Level</th>
            <th class="text-nowrap">Alarm Name</th>
            <th>Description</th>
            <th class="text-nowrap">Time Stamp</th>
            <th class="text-nowrap">Value</th>
            <th class="text-nowrap">Unit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alarm in Model.alarms)
        {
                @if(@alarm.AlarmLevel == "Warning")
                {
                <tr class="table">
                    <td class="text-center">@alarm.AlarmId</td>
                    <td class="text-center badge-warning">@alarm.AlarmLevel</td>
                    <td class="text-nowrap">@alarm.AlarmName</td>
                    <td>@alarm.AlarmDescription</td>
                    <td>@alarm.TimeStamp</td>
                    <td class="text-center">@alarm.Value</td>
                    <td class="text-center">@alarm.ValueUnit</td>
                    <td><a href="./AcknowledgeAlarm?alarmid=@alarm.AlarmId" class="btn btn-success" role="button">Acknowledge</a>        
                    </td>
                </tr>
                }
                else if(@alarm.AlarmLevel == "Alarm")
                {
                <tr class="table">
                    <td class="text-center">@alarm.AlarmId</td>
                    <td class="text-center badge-danger">@alarm.AlarmLevel</td>
                    <td class="text-nowrap">@alarm.AlarmName</td>
                    <td>@alarm.AlarmDescription</td>
                    <td>@alarm.TimeStamp</td>
                    <td class="text-center">@alarm.Value</td>
                    <td class="text-center">@alarm.ValueUnit</td>
                    <td><a href="./AcknowledgeAlarm?alarmid=@alarm.AlarmId" class="btn btn-success" role="button">Acknowledge</a></td>
                </tr>
                }
                else if(@alarm.AlarmLevel == "Notification")
                {
                <tr class="table">
                    <td class="text-center">@alarm.AlarmId</td>
                    <td class="text-center badge-info">@alarm.AlarmLevel</td>
                    <td class="text-nowrap">@alarm.AlarmName</td>
                    <td>@alarm.AlarmDescription</td>
                    <td>@alarm.TimeStamp</td>
                    <td class="text-center">@alarm.Value</td>
                    <td class="text-center">@alarm.ValueUnit</td>
                    <td><a href="./AcknowledgeAlarm?alarmid=@alarm.AlarmId" class="btn btn-success" role="button">Acknowledge</a></td>
                </tr>
                }
                else
                {
                    <tr class="table-success">
                        <td>There are no Active Alarms! :)</td>
                    </tr>
                }
        }
    </tbody>
</table>

</div>