@page
@model AlarmsModel
@{
    ViewData["Title"] = "Alarms";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Alarm Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Time Stamp</th>
            <th>Value</th>
            <th>Status (acknowledged)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alarm in Model.alarms)
        {
                @if(@alarm.AlarmName == "Warning")
                {
                <tr class="table-warning">
                    <td>@alarm.AlarmId</td>
                    <td>@alarm.AlarmName</td>
                    <td>@alarm.AlarmDescription</td>
                    <td>@alarm.TimeStamp</td>
                    <td>@alarm.Value</td>
                    <td>@alarm.AlarmAcknowledged</td>
                    <td><a href="./AcknowledgeAlarm?alarmid=@alarm.AlarmId" class="btn btn-info" role="button">Acknowledge</a></td>
                </tr>
                }
                else if(@alarm.AlarmName == "Alarm")
                {
                <tr class="table-danger">
                    <td>@alarm.AlarmId</td>
                    <td>@alarm.AlarmName</td>
                    <td>@alarm.AlarmDescription</td>
                    <td>@alarm.TimeStamp</td>
                    <td>@alarm.Value</td>
                    <td>@alarm.AlarmAcknowledged</td>
                    <td><a href="./AcknowledgeAlarm?alarmid=@alarm.AlarmId" class="btn btn-info" role="button">Acknowledge</a></td>
                </tr>   
                }
                else
                {
                <tr class="table-info">
                    <td>@alarm.AlarmId</td>
                    <td>@alarm.AlarmName</td>
                    <td>@alarm.AlarmDescription</td>
                    <td>@alarm.TimeStamp</td>
                    <td>@alarm.Value</td>
                    <td>@alarm.AlarmAcknowledged</td>
                    <td><a href="./AcknowledgeAlarm?alarmid=@alarm.AlarmId" class="btn btn-info" role="button">Acknowledge</a></td>
                </tr>   
                }
                
        }
    </tbody>
</table>

</div>

